<!doctype html>
<html>
<head>
    <title>NeoPixel LED Streamer</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style>
        body > div.container:first-child {
            margin-top:15px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">NeoPixel LED Streamer</div>
            <div class="panel-body">
                by Marcin Borkowski &#x0003C;marborkowski@gmail.com&#x0003E;
            </div>
        </div>
    </div>
</body>
</html>